body {
    background-image: url('https://i.pinimg.com/736x/53/c9/17/53c917a4b2638bd6d9dbc5ccc4aa98a3.jpg');
    background-size: 100% 100%;
}

h1 {
    color: #5b2313;
    background-color: #ffea76;
    border-radius: 10px;
}

img {
    width: 200px;
    height: 150px;
}