body {
    background-image: url('oi.jpg');
    background-size: 100% 100%;
}

h1 {
    color: #5b2313;
    background-color: #ffea76;
    border-radius: 10px;
}

img {
    width: 200px;
    height: 150px;
}